 {{!-- Remixed 😉 from https://github.com/bradgarropy/plop-generator-remix-route/blob/master/src/route.ts --}}

import type {
{{#includes features "action"}}
    ActionArgs,
{{/includes}}
{{#includes features "error"}}
    ErrorBoundaryComponent,
{{/includes}}
{{#includes features "meta"}}
    HtmlMetaDescriptor,
{{/includes}}
{{#includes features "links"}}
    LinkDescriptor,
    LinksFunction,
{{/includes}}
{{#includes features "loader"}}
    LoaderArgs,
{{/includes}}
{{#includes features "meta"}}
    MetaFunction,
{{/includes}}
} from "@remix-run/node"
{{#includes features "loader"}}
    import { typedjson, useTypedLoaderData } from "remix-typedjson";
{{/includes}}
import {
{{#includes features "action"}}
    redirect
{{/includes}}
} from "@remix-run/node"
{{#includes features "catch"}}
import {useCatch, useParams} from "@remix-run/react"
{{/includes}}
{{#includes features "component"}}
import type { FC } from "react"
{{/includes}}

{{#includes features "links"}}
export const links: LinksFunction = () => {
    const links: LinkDescriptor[] = []
    return links
}
{{/includes}}

{{#includes features "meta"}}
export const meta: MetaFunction = () => {
    const meta: HtmlMetaDescriptor = {}
    return meta
}
{{/includes}}

{{#includes features "loader"}}
export const loader = async ({request, params}: LoaderArgs) => {
    const data = {}
    return typedjson(data)
}
{{/includes}}

{{#includes features "action"}}
export const action = async ({request, params}: ActionArgs) => {
    return redirect("/")
}
{{/includes}}

{{#includes features "component"}}
const RouteComponent: FC = () => {
    {{#includes ../features "loader"}}
      const data = useTypedLoaderData<typeof loader>();
    {{/includes}}
    return (<pre>{JSON.stringify(data)}</pre>)
}
{{/includes}}

{{#includes features "catch"}}
export const CatchBoundary = () => {
    const caught = useCatch()
    const params = useParams()

    console.log({ caught, params })

    return <p>Something went wrong.</p>
}
{{/includes}}

{{#includes features "error"}}
export const ErrorBoundary: ErrorBoundaryComponent = ({error}) => {

    const params = useParams()
    console.log({error, params})
    return <p>Something went wrong.</p>
}
{{/includes}}

export default RouteComponent